@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Conteneur Principal */
.accueil-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 12.5%;
    margin-top: 5%;
}

/* Photo de Profil */
.pdp-accueil {
    width: 32%;
    height: 32%;
    background-color: black;
    border-radius: 60% 40% 60% 40%;
    margin-right: 5%;
    transition: 0.5s;
}

.pdp-accueil.dark {
    background-color: white;
}

.pdp-accueil:hover {
    background-color: #b9b9b9;
}

/* Titres (Prénom et Nom) */
.title-prenom, .title-nom {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.title-prenom {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 8vw;
    color: #333;
    letter-spacing: 2px;
}

.title-prenom.dark {
    color: #b9b9b9;
}

.title-nom {
    font-family: 'Rubik', sans-serif;
    font-size: 10vw;
    font-weight: 700;
    color: #555;
}

.title-nom.dark {
    color: #ffffff;
}

.title-prenom:hover, .title-nom:hover {
    color: #8a8a8a;
    transition: color 0.3s ease-in-out;
}

/* Responsive Design */

/* Tablettes (1024px et moins) */
@media (max-width: 1024px) {
    .accueil-container {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-top: 0;
    }

    .pdp-accueil {
        width: 50%;
        height: 50%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .title-prenom, .title-nom {
        text-align: center;
        font-size: 8rem;
    }

    .title-nom {
        font-size: 10rem;
    }
}

/* Petits écrans et smartphones (768px et moins) */
@media (max-width: 768px) {
    .pdp-accueil {
        width: 60%;
        height: 60%;
    }

    .title-prenom {
        font-size: 5rem;
    }

    .title-nom {
        font-size: 7rem;
    }
}

/* Très petits écrans et smartphones (480px et moins) */
@media (max-width: 480px) {
    .pdp-accueil {
        width: 70%; 
        height: auto;
        margin-bottom: 20px;
    }

    .title-prenom {
        font-size: 4rem;
    }

    .title-nom {
        font-size: 5rem;
    }
}

/* Écrans très petits (412px et moins) */
@media (max-width: 412px) {
    .accueil-container {
        flex-direction: column;
        align-items: center;
        padding: 0 5%;
    }

    .pdp-accueil {
        width: 80%;
        height: auto;
        margin-bottom: 15px;
    }

    .title-prenom {
        font-size: 3rem;
    }

    .title-nom {
        font-size: 4rem;
    }
}
