@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* NAVBAR CONTAINER */
.navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 0 7%;
    font-family: "Rubik", sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

/* LOGO */
.navbar-logo {
    width: 120px;
    cursor: pointer;
}

/* MENU WRAPPER */
.menu-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
}

/* MENU TOGGLE BUTTON */
.menu-toggle {
    display: none;
}

/* NAVIGATION MENU */
.ul-container {
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
}

.ul-container li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
}

.ul-container li:hover {
    color: #b9b9b9;
    transition: color 0.3s ease-in-out;
}

.ul-container.dark {
    color: white;
}

.ul-container li a {
    text-decoration: none;
    color: inherit;
}

.ul-container li a:hover {
    color: #b9b9b9;
}

.ul-container li a:visited {
    color: inherit;
}

.ul-container.dark li a:hover {
    color: #ccc;
}

/* SEARCH BOX */
.search-box-container {
    display: flex;
    align-items: center;
    background: lightgrey;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.5s;
}

.search-box-container input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: black;
    font-size: 18px;
    max-width: 200px;
}

.search-box-container input::placeholder {
    color: black;
}

.search-box-container.dark {
    background-color: white;
}

.search-icone {
    width: 30px;
    cursor: pointer;
}

/* THEME TOGGLE ICON */
.activer-icone {
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 1024px) {
    .navbar-container {
        flex-direction: column;
        align-items: center;
    }

    .menu-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        margin: 10px 0;
    }

    .ul-container {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: white;
        border: 1px solid #ddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1;
        position: relative;
        margin-top: 10px;
    }

    .ul-container.open {
        display: flex;
    }

    .ul-container.dark {
        background-color: black;
        color: white;
    }

    .search-box-container, .activer-icone {
        margin: 5%;
    }

    .menu-toggle.dark {
        color: white;
    }
}
